<%- include('../partials/header') %>

    <div id="container">
        <h2>Enter a New Pet</h2>
        <form action="/pets/<%=pet.id%>?_method=PUT" method="POST">
            <label class="centerlabel">Breed
                <select name="breed">
                    <option value="<%= pet.breed %>">
                        <%= pet.breed %>
                    </option>
                    <option value="cats">cats</option>
                    <option value="dogs">dogs</option>
                    <option value="birds">birds</option>
                    <option value="fish">fish</option>
                </select>
            </label>
            <label class="centerlabel">Age:
                <input type="number" name="age" value="<%= pet.age %>">
            </label>

            <label class="centerlabel">Gender:
                <select name="gender">
                    <option value="<%= pet.gender %>">
                        <%= pet.gender %>
                    </option>
                    <option value="male">male</option>
                    <option value="female">female</option>

                </select>
            </label><br>
            <label class="centerlabel">Name:
                <input type="text" name="name" value="<%= pet.name %>">
            </label>
            <label class="centerlabel">Weight:
                <input type="number" name="weight" value="<%= pet.weight %>">
            </label>
            <button type="submit">Update</button>
        </form>
    </div>

    <%- include('../partials/footer') %>