<%- include("../partials/header") %>
    <div id="container">
        <h1>Edit "<%= pet.name %> 's" Posting</h1>
        <p>Need to make changes? Fill out the form below!</p>

        <form action="/pets/<%= pet.id %>?_method=PUT" method="POST">
            <h3><label for="name">Update the name of your pet:</label></h3>
            <input type="text" name="name" value="<%= pet.name %>" />

            <h3><label for="breed">Update your pet's breed:</label></h3>
            <select name="breed" value=" <%= pet.breed %>">
                <optgroup label="Animal Types">
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                    <option value="fish">Fish</option>
                    <option value="bird">Bird</option>
                </optgroup>
            </select>
            <h3><label for="age">Update the age of your pet:</label></h3>
            <input type="number" name="age" value="<%= pet.age %>" />

            <h3><label for="gender">Update the gender of your pet:</label></h3>
            <select name="gender" value="<%= pet.gender %>">
                <optgroup label="Please Select a Gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </optgroup>
            </select>

            <h3><label for="weight">Your pet gain or lose weight? Update here:</label></h3>
            <input type="number" name="weight" value="<%= pet.weight %>" />

            <button type="submit">Update Posting</button>

        </form>
        <p>
            <%= errorMsg %>
        </p>
    </div>
    <%- include("../partials/footer") %>