<%- include('../partials/header') %>
    <h1>Show Page</h1>
    <p>Breed:
        <%= pet.breed%>
    </p>
    <p>Age:
        <%= pet.age%>
    </p>
    <p>Name
        <%= pet.name %>
    </p>
    <p>Gender
        <%= pet.gender %>
    </p>
    <p>Weight
        <%= pet.weight %>
    </p>
    <p>
        <%= pet.id %>
    </p>
    <p><a href="/pets/edit/<%=pet.id%>">edit</a></p>
    <p>
    <form action="/pets/<%=pet.id%>?_method=DELETE" method="post"><button type="submit">Delete</button></form>
    </p>
    <hr>
    <%- include('../partials/footer') %>